/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-top: solid #cccccc;
    border-bottom: solid #cccccc;
    margin-bottom: 40px;
    margin-top: 0px;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: ##777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

.floatright {
    float: right;
}

h1 {
    color: #4aaaa5;
    font-family: Times;
}

img {
   display: inline-block;
   margin: 5px 25px;
   float: left;
}

.header2 {
    color: #4aaaa5;
    margin: 25px;
    border-bottom: 3px solid lightgrey;
    font-family: Times;
}

.header3 {
    color: #4aaaa5;
    font-family: Times;
}

.contact {
    position: absolute;
    left: 1100px;
    top: 18px;
    width: 200px;
    padding: 1px;
    border: 1px solid grey;
    margin-top: 0;
    margin-bottom: 50;
    background-color: #ffffff;
    color: #777777;
    font-family: arial;
    position: relative;
}

body {
    background-image: url("http://i.imgur.com/BfZ3euo.png");
}

.imgtext {
    position: absolute;
    left: 120px;
    top: 150px;
    width: 700px;
    height: 450px;
    padding: 1px;
    border: 1px solid gray;
    margin: 0; 
    background-color: #ffffff;
    color: #777777;
    font-family: arial;
    font-size: 17px;

}