body {
    background-image: url("http://i.imgur.com/BfZ3euo.png");
}

header {
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    position: absolute;
    height: 84px;
    margin-right: 15px;
}

.headername {
    background-color: #4aaaa5;
    color: #fff;
    width: 250px;
    display: inline-block;
    position: absolute;
    left: 120px;
    height: 76%;
    text-align: center;
    padding-top: 20px;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
}

nav {
    position: absolute;
    top: 30px;
    left: 770px;
    color: grey;
    font-size: 16px;
    padding: 5px;   
}


a {
    color: #cccccc;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    font-family:'Georgia', Times, 'Times New Roman', serif ;
}

nav a:hover {
    background-color: #4aaaa5;
    padding: 10px;
    color: #ffffff;
}

.img1 {
   display: inline-block;
   margin: 5px 15px;
   float: left;
   border: solid 3px lightgrey;
}

.header2 {
    color: #4aaaa5;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: 25px;
    border-bottom: 3px solid lightgrey;
    font-size: 30px;
    padding: 15px; 
}

.header3 {
    color: #4aaaa5;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-left: 22px;
    border: solid 2px #cccccc;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-bottom: 10px;
    margin-right: 60px;
    margin-top: 10px;
}

.imgtext {
    position: absolute;
    left: 120px;
    top: 150px;
    width: 710px;
    height: 450px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0; 
    background-color: #ffffff;
    color: #777777;
    font-family: arial;
    font-size: 17px;

}
.github {
    width: 15px;
    height: 15px;
    position: relative;
    left: 900px;
    top: 200px;
}

.linkedin {
    width: 0px;
    height: 0px;
    position: relative;
    left: 970px;
    top: 186px;
}

.stack {
    width: 15px;
    height: 15px;
    position: relative;
    left: 1040px;
    top: 186px;
}

.connect-with-me {
    width: 300px;
    height: 160px;
    left: 900px;
    top: 145px;
    border: 1px solid gray;
    position: absolute;
    background-color: #fff;
    padding: 1px;
    vertical-align: top;
}

.imgbuttons {
    margin-left: 12px;
    margin-bottom: 10px;
    margin-top: 15px;
}

